<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" href="/favicon.png" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<script data-cfasync="false">
(function () {
  var href = "/favicon.ico";
  function applyFavicon() {
    var links = document.querySelectorAll('link[rel="icon"], link[rel="shortcut icon"], link#retype-favicon');
    for (var i = 0; i < links.length; i++) {
      links[i].href = href;
    }
    if (!document.getElementById("retype-favicon")) {
      var link = document.createElement("link");
      link.id = "retype-favicon";
      link.rel = "icon";
      link.href = href;
      document.head.appendChild(link);
    }
  }
  applyFavicon();
  document.addEventListener("turbo:load", applyFavicon);
  document.addEventListener("turbo:render", applyFavicon);
  document.addEventListener("turbo:before-render", applyFavicon);
  new MutationObserver(applyFavicon).observe(document.head, { childList: true, subtree: true });
})();
</script>
